@charset "utf-8";
/* CSS Document */

h1 {
	font-size: 23px;
	padding: 9px 15px 4px 0;
	line-height: 29px;
	font-weight: normal;
}

h2 {
	border-bottom: 1px solid rgb(150, 150, 150);
	font-size: 18px;
	padding: 0px;
}

input.error {
	border: none;
	background-color: transparent;
	color: red;
	width: 260px;
}