@charset "utf-8";

/*
	View Creature
*/
#creature .img {
	background: #f5f5f5;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#f5f5f5),to(#fafafa));
	background-image: -webkit-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: -moz-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: -o-linear-gradient(bottom,#f5f5f5,#fafafa);
	background-image: linear-gradient(to top,#f5f5f5,#fafafa);
	border-color: #dfdfdf;
	position: relative;
	overflow: auto;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 13px;
	line-height: 2.1em;
	float: left;
	margin: 0 20px 20px 0;
}

#creature .title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}

#creature .sub_title {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

#creature .characteristics, #creature .skills {
	margin-left: 340px;
}

#creature .gender, #creature .type, #creature .skills p  {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 3px 10px 3px 35px;
	color: #FFF;
	cursor: default;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

#creature .flying { 
	border: solid 1px #9B9B9B; 
	background-color: #C7C7C7;
	background-image: url(../img/note.gif); 
}

#creature .terrestrial { 
	border: solid 1px #5b400a; 
	background-color: #87683d; 
	background-image: url(../img/note.gif); 
}

#creature .aquatic { 
	border: solid 1px #00577a; 
	background-color: #009bdb; 
	background-image: url(../img/note.gif); 
}

#creature .vegetable { 
	border: solid 1px #005425; 
	background-color: #009045; 
	background-image: url(../img/note.gif); 
}

#creature .astral { 
	border: solid 1px #9B9B9B; 
	background-color: #C7C7C7; 
	background-image: url(../img/note.gif); 
}

#creature .guardian { 
	border: solid 1px #5b400a; 
	background-color: #87683d; 
	background-image: url(../img/note.gif); 
}

#creature .material { 
	border: solid 1px #00577a; 
	background-color: #009bdb; 
	background-image: url(../img/note.gif); 
}

#creature .samus {
	border: solid 1px #005425; 
	background-color: #009045; 
	background-image: url(../img/note.gif); 
}

#creature .skills p {
	font-variant: small-caps;
	background-color: rgb(218, 76, 70);
	display: inline-block;
	padding: 2px 5px;	
	margin-right: 10px;
	margin-bottom: 26px;
	margin-top: 0px;
}

#creature .skills p .attack, #creature .skills p .defense {
	margin-left: 5px;
	border: solid 1px rgb(126, 126, 126);
	padding: 5px;
	border-radius: 2px;
	color: black;
	background-color: #C7C7C7;
}

#creature .skills p img {
	margin: -3px 0px;
}

#creature .files table {
	text-align: center;
}

/*
	Bloc Message Correct
*/

div.correct {
	background-color: #008040;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
	border-color: transparent;
	margin: 5px 0 15px;
}

div.correct div.container {
    padding: 15px 65px 15px 35px;
    overflow: hidden
}

div.correct div.container span {
    color: #FFF;
    font-weight: bold;
    font-size: 90%;
    display: block
}

div.correct div.container div.correct {
    position: absolute;
    right: 0;
    top: 0;
    background: #030;
    height: 100%;
    width: 50px;
    padding: 15px 0;
}

div.correct div.container > div.correct {
	margin: 0;
}

div.correct div.container div.correct a {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/correct.x32.png') no-repeat;
    text-indent: -9000px;
    margin: -7px 0px 0px 10px;
}

/*
	Bloc Message Correct
*/

div.warning {
	background-color: rgb(192, 0, 0);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
	border-color: transparent;
	margin: 5px 0 15px;
}

div.warning div.container {
    padding: 15px 65px 15px 35px;
    overflow: hidden
}

div.warning div.container span {
    color: #FFF;
    font-weight: bold;
    font-size: 90%;
    display: block
}

div.warning div.container div.warning {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(100, 10, 46);
    height: 100%;
    width: 50px;
    padding: 15px 0;
}

div.warning div.container > div.warning {
	margin: 0;
}

div.warning div.container div.warning a {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/warning.x32.png') no-repeat;
    text-indent: -9000px;
    margin: -7px 0px 0px 10px;
}

/*
	Main menu
*/



