# excluede images and zips
upload/*.png
upload/*.gif
upload/*.jpg
upload/*.zip
upload/th/*.png
upload/th/*.gif
upload/th/*.jpg

# exclude files extra
wp_inimat_creatures.sql
information.php
creatures.xml

# Backups
*bck*
