# excluede images and zips
./upload/*.png
./upload/*.git
./upload/*.jpg
./upload/*.zip
./upload/th/*.png
./upload/th/*.git
./upload/th/*.jpg

# exclude files extra
./wp_inimat_creatures.sql
./information.php
./creatures.xml
